.hero {
  position: relative;
  padding: var(--padding-nav);
  margin-block-end: 0;
  display: grid;
  grid-template-columns: 1fr minmax(280px, 420px);
  align-items: center;
  gap: 2rem;

  &__bg {
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 0;
    right: 0;
    transform: rotate(-1.5deg);
    background: var(--color-bleu);
    z-index: -1;
  }

  &__title {
    margin-block: 0;
    font-size: 4rem;
    font-weight: 800;
    text-shadow: 0px 5px 0px var(--color-noir);
    color: var(--color-beige);
  }

  &__description {
    color: var(--color-noir);
    inline-size: 28ch;
    max-inline-size: 100%;
    font-size: clamp(1rem, 2vw, 1.1rem);
    margin-block: 1.5rem;
  }

  &__button {
    display: inline-block;
    background: var(--button-background);
    color: var(--color-noir);
    padding: var(--button-padding-block) var(--button-padding-inline);
    border: var(--button-border);
    font-weight: 700;
    text-decoration: none;
  }

  &__illu {
    inline-size: 100%;
  }

  @media (width <= 700px) {
    grid-template-columns: 1fr;
  }
}

