.navbar {
  padding: calc(var(--padding-nav) / 2) var(--padding-nav);
  color: var(--color-noir);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;

  &__logo {
    img {
      inline-size: 8rem;
    }
  }

  &__menu {
    display: flex;
    gap: var(--padding-nav);
  }

  &__link {
    display: flex;
    align-items: center;
    gap: .5rem;

    &::before {
      content: "";
      display: block;
      inline-size: 32px;
      block-size: 32px;
      flex: 0 0 32px;
      background-image: url("../images/icon_nav.svg");
      background-repeat: no-repeat;
      background-size: 168px 72px;
    }
  }

  &__item {
    &:nth-child(1) .navbar__link::before {
      background-position: -20px -20px;
    }
    &:nth-child(2) .navbar__link::before {
      background-position: -68px -20px;
    }
    &:nth-child(3) .navbar__link::before {
      background-position: -116px -20px;
    }
    &:first-child .navbar__link {
      border-block-end: 2px solid var(--color-jaune);
      padding-block-end: .2rem;
    }
  }

  &__lang {
    display: flex;
    gap: .5rem;
  }

  &__lang-link {
    display: block;
    padding: .3rem .8rem;
    border: 1px solid var(--color-noir);
    border-radius: var(--border-radius-secondary);
    font-size: .8rem;
    font-weight: 500;
  }
}