:root {
  //color
  --color-beige: #F2E9DA;
  --color-noir: #1f1f1f;
  --color-bleu: #4cc0ad;
  --color-rouge: #e84558;
  --color-jaune: #efbc25;
  --color-blanc: #fff;

  //font
  --fontfamily-primary: 'Rubik';
  --fontfamily-number: 'Barrio';

  //border-radius
  --border-radius-primary: 2rem;
  --border-radius-secondary: .5rem;

  //button
  --button-padding-inline: 1.5rem;
  --button-padding-block: .8rem;
  --button-radius: 10rem;

  //marge
  --margin-link: 1.3rem;
  --padding-nav: 2rem;
}